<div class="aside-inner  mt-5">
    <div class="container mb-3">
        <div>
            <div class="row text-white ml-2">
                <div class="container">
                    <div class="float-left">
                        <span class="h4">Legend</span>
                    </div>
                    <div class="float-right">
                        <button class="d-inline mb-2 btn btn-xs bg-orange" (click)="btn_clearAll()">
                            <em class="fa fas fa-trash-alt"></em>
                            Clear all
                        </button>
                    </div>
                </div>

            </div> 

            <div id="timeseriesScroll"  style="height: 80vh;" class="scrollable dark">
                <div class="showFilter mb-2" 
                    *ngFor="let ds of getFilteredDatastreams(); index as i" 
                    type="button"
                    [ngStyle]="getStyleForDatastream(ds)"
                    (click)="btn_selectOrDeselectDatastreams(ds, i)">
                    <div class="mb-1 ml-1 mr-1 pt-1 location"
                        [ngStyle]="{color: ds.color}">
                         <em class="fa fas icon-location-pin"></em><b> {{ds.fkThing.name}} </b>
                    </div>
                    <div class="mb-1 ml-1 mr-1"> ({{ds.unitMeasName}}) </div>
                    <div class="mb-1 ml-1 mr-1 procedure">{{ds.name}} </div>
                    <div class="mb-1 ml-2 mr-1">
                        <span (click)="btn_removeDatastreams(ds, i, $event)" class="ml-1" > remove <em class="fa fas fa-times mr-1 location"></em></span>
                    </div>
                </div>
            </div> 
        </div>
    </div>

</div>