/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';

//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";
@import "./app/shared/styles/ol.css";


@import './app/shared/styles/themes/theme-a.scss';
@import './app/shared/styles/themes/theme-b.scss';
@import './app/shared/styles/themes/theme-c.scss';
@import './app/shared/styles/themes/theme-d.scss';
@import './app/shared/styles/themes/theme-e.scss';
@import './app/shared/styles/themes/theme-f.scss';
@import './app/shared/styles/themes/theme-g.scss';
@import './app/shared/styles/themes/theme-h.scss';