/*!
 *
 * Angle - Bootstrap Admin Template
 *
 * Version: 4.8.1
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 *
 */

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Variables
@import "app/variables";
// Layout
@import "app/layout";
@import "app/layout-extra";
@import "app/layout-animation";
@import "app/top-navbar";
@import "app/sidebar";
@import "app/offsidebar";
@import "app/user-block";
@import "app/settings";
// Common
@import "app/typo";
@import "app/bootstrap-reset";
@import "app/bootstrap-custom";
@import "app/button-extra";
@import "app/placeholder";
@import "app/cards";
@import "app/circles";
@import "app/dropdown-extra";
@import "app/half-float";
@import "app/animate";
@import "app/slim-scroll";
@import "app/inputs";
@import "app/utils";
@import "app/print";
@import "~@ng-select/ng-select/themes/default.theme.css";


// Elements
// @import "app/spinner";
// Charts
// @import "app/radial-bar";
// @import "app/chart-flot";
// @import "app/chart-easypie";
// Form elements
// @import "app/form-select2";
// @import "app/form-tags-input";
// @import "app/file-upload";
// @import "app/summernote";
// @import "app/typeahead";
// Tables
// @import "app/table-extras";
// @import "app/table-angulargrid";
// Maps
// @import "app/gmap";
// @import "app/vector-map";
// Extras
// @import "app/timeline";
// @import "app/todo";
// @import "app/calendar";
// @import "app/mailbox";
// @import "app/plans";


.selected-div {
    border: solid 1px;
    border-color: $elter-primary-orange;
    margin-right: 5px;
}

.selected-submenu {
    border: solid 1px;
    border-color: $elter-primary-blue;
    margin-right: 5px;
}

.bg-orange {
    background-color: $elter-primary-orange;
    color: white;
}

.bg-orange:hover {
    color: white;
}

.bg-blue {
    background-color: $elter-primary-blue;
    color: white;
}

.bg-blue:hover {
    color: white;
}

.text-primary-color-blue {
    color: $elter-primary-blue;
}

.text-primary-color-orange {
    color: $elter-primary-orange;
}

.text-secundary-color-green-dark {
    color: $elter-secondary-dark-green;
}



.accordion {
    background-color: $elter-primary-orange;
    text-decoration-color: white;
    text-emphasis-color: white;
    cursor:pointer;
}

.selectedLayer {
    border: 2px solid;
    padding: 6px;
    border-color:  $elter-primary-blue;
    box-shadow: 2px 3px 3px  $elter-primary-blue;
  }

.sidebar-item {
  border: 1px solid;
  border-color:  $elter-primary-blue;
  margin: 1px;
  padding: 1px;
}



.tab input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $elter-primary-orange;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($elter-primary-orange, 10%);
    }
    &.no-icon::after {
      content: none;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: darkslategray;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $elter-primary-orange;
    cursor: pointer;
    &:hover {
      background: darken($elter-primary-orange, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($elter-primary-orange, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100%;
    padding: 1em;
  }

  .navigation-box-header {
    background-color:   $elter-primary-blue;
    text-decoration-color: $elter-primary-blue;
    text-emphasis-color: white;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  input {
    width: 90%;
  }
  
  a:hover {
    cursor: pointer;
  }
  
}

.pointer {
  cursor:pointer;
}

.pinIcon:hover {
  color: $elter-secondary-dark-blue;
}

.pinIconActive {
  color: $elter-secondary-dark-blue;
}

@keyframes blink-border {
  0%, 100% { border-color: transparent; }
  25%, 75% { border-color: #ED9632; }
}

.blink-animation {
  animation: blink-border 0.5s 2; /* Run the animation twice */
}

.fullscreen-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.layer-info-icon-active {
  background-color: $elter-primary-blue;
  border-radius: 50%;
  padding: 2px;
  transition: background-color 0.3s ease;
  color: white;
}

.layer-info-icon:hover {
  @extend .layer-info-icon-active;
}

.layer-info-icon.clicked {
  @extend .layer-info-icon-active;
}

div.large-modal.modal-dialog {
  max-width: 50%;
  max-height: 90%;
  width: auto;
}

::ng-deep .large-modal .modal-content {
  height: 100%;
}
/* Base scrollable styles */
.scrollable {
  height: 100%;
  overflow-y: auto;
  padding-right: 30px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 5px;
  
  /* Firefox scrollbar */
  scrollbar-width: thin;
}

/* Light theme */
.scrollable.light {
  --scrollbar-thumb: #939DA5;
  --scrollbar-thumb-hover: #6b7280;
  --scrollbar-track: rgba(0, 0, 0, 0.1);
  
  scrollbar-color: #939DA5 rgba(0, 0, 0, 0.1);
}

/* Dark theme */
.scrollable.dark {
  --scrollbar-thumb: #6b7280;
  --scrollbar-thumb-hover: #9ca3af;
  --scrollbar-track: rgba(255, 255, 255, 0.1);
  
  scrollbar-color: #6b7280 rgba(255, 255, 255, 0.1);
}

/* Webkit scrollbar styles */
.scrollable::-webkit-scrollbar {
  width: 7px;
}

.scrollable.light::-webkit-scrollbar-thumb {
  background-color: #939DA5;
}

.scrollable.dark::-webkit-scrollbar-thumb {
  background-color: #6b7280;
}

.scrollable.light::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.scrollable.dark::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.scrollable.light::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.scrollable.dark::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 5px;
}