<app-loading *ngIf="!stationDetails"></app-loading>

<div class="card-body pb-1 pt-1" *ngIf="stationDetails !== undefined">

    <div class="tabs">
        <div class="tab">
            <input type="checkbox" [checked]="stationDetails.open">
            <label class="tab-label" (click)="openCloseStationDetail()">
                <label class="pointer">
                    <b>{{stationDetails?.name}}</b>
                </label>
            </label>

            <div *ngIf="stationDetails.open" class="tab-content">
                <div [hidden]="!stationDetails.open" id="detailsTimeseriesScroll" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="mt-0 pt-0">
                    
                    <div *ngFor="let thing of stationDetails?.things">
                        <div class="tabs">
                            <div class="tab">
                                <input type="checkbox" [checked]="thing.open">
                                <label class="tab-label" (click)="openCloseThing(thing)">
                                    {{thing?.name}}
                                </label>
                                <div *ngIf="thing.open" class="tab-content">
                                    <div class="h6 text-secundary-color-green-dark mb-3 mt-2">
                                        {{thing.description}}
                                    </div>
                                    <div *ngFor="let datastream of thing.fkDatastreams">
                                        <div style="display: flex">
                                            <label class="switch switch-sm mr-1">
                                                <input type="checkbox" [checked]="datastream.checked" (click)="checkDatastream(datastream, thing)">
                                                <span></span>
                                            </label>
                                            <span> {{datastream.name}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right mr-1 mt-3">
                        <button  class="d-inline mb-2 btn btn-sm bg-orange btn-md"
                            (click)="showTimeIOObservations()">
                            Show
                            <em class="fas fa-angle-right pl-3"></em>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>